APP_CONFIG__DB__USER=postgres
APP_CONFIG__DB__PASSWORD=postgres
APP_CONFIG__DB__NAME=fintech_db
APP_CONFIG__DB__HOST=localhost
APP_CONFIG__DB__PORT=5432
APP_CONFIG__ENV__ENVIRONMENT=prod
APP_CONFIG__ENV__LOGGING_LEVEL=info
APP_CONFIG__PROVIDER__URL=http://provider-simulator:8081

TEST__APP_CONFIG__DB__NAME=test_name
TEST__APP_CONFIG__DB__USER=test_user
TEST__APP_CONFIG__DB__PASSWORD=test_password
TEST__APP_CONFIG__DB__HOST=localhost
TEST__APP_CONFIG__DB__PORT=5433
